/* Josh's Custom CSS Reset https://www.joshwcomeau.com/css/custom-css-reset/ */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}


.wrapper {
    width: 100%;
    margin: 30px 0;
}

.gameboard {
    margin: auto;
    display: grid;
    grid-template: repeat(3,1fr) / repeat(3,1fr);
    gap: 3px;
    aspect-ratio: 1 / 1;
    background-color: #000;
    width: fit-content;
}

.square {
    width: 100px;
    aspect-ratio: 1 / 1;
    background-color: #ededed;
    cursor: pointer;
    text-align: center;
    font-size: 2rem;
}

.X {
    color: #337;
}

.O {
    color: #733;
}